@model List<Cars.WebUI.ViewModel.EntrepriseViewModels.EntrepriseViewModel>

<h2>Entreprises avec Contrat Actif</h2>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Contrat Actif</th>
        <th>Vehicules</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entreprise in Model)
    {
        <tr>
            <td>@entreprise.Nom</td>
            <td>@entreprise.ContratActif</td>
            <td>
                @if (entreprise.Vehicules != null && entreprise.Vehicules.Any())
                {
                    <ul>
                        @foreach (var vehicule in entreprise.Vehicules)
                        {
                            <li>
                                @vehicule.Nom -
                                @if (!string.IsNullOrEmpty(vehicule.SalarieNomComplet))
                                {
                                    @vehicule.SalarieNomComplet
                                    
                                }
                                @if (!string.IsNullOrEmpty(vehicule.Description))
                                {
                                    <br />
                                    <small>@vehicule.Description</small>
                                }
                                @if (vehicule.Statut)
                                {
                                    @if (string.IsNullOrEmpty(vehicule.SalarieNomComplet))
                                    {
                                        <a asp-controller="Salarie" asp-action="Assign" asp-route-idEntreprise="@entreprise.EntrepriseId" asp-route-idVehicule="@vehicule.VehiculeId" class="btn btn-primary">Associer un salarié</a>
                                    }
                                    else
                                    {
                                        <form asp-action="Disassociate" asp-controller="Salarie" asp-route-idVehicule="@vehicule.VehiculeId" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-dark">Dissocier</button>
                                        </form>
                                    }
                                }
                                <a asp-controller="Vehicule" asp-action="UpdateStatus" asp-route-id="@vehicule.VehiculeId" class="btn btn-secondary">Modifier le statut</a>
                                <a asp-controller="Vehicule" asp-action="Edit" asp-route-id="@vehicule.VehiculeId" class="btn btn-secondary">Modifier le vehicule</a>
                                <form asp-action="Delete" asp-controller="Vehicule" asp-route-id="@vehicule.VehiculeId" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Supprimer Vehicule</button>
                                </form>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <span>Aucun véhicule</span>
                }
            </td>
            <td>
                <a asp-controller="Vehicule" asp-action="Create" asp-route-idEntreprise="@entreprise.EntrepriseId" class="btn btn-primary">Ajouter un véhicule</a>
                <a asp-controller="Entreprise" asp-action="Edit" asp-route-id="@entreprise.EntrepriseId" class="btn btn-warning">Modifier</a>
                <form asp-action="Delete" asp-controller="Entreprise" asp-route-id="@entreprise.EntrepriseId" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <partial name="_ValidationScriptsPartial"/>
</table>